body {
    margin: 20px auto; 
    padding: 0;
    background-color: rgb(117 28 28);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff; 
    background-image: url("/capstoneproject/Untitled\ \(4\).png");
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form {
    width: calc(2/3 * 100vw); 
    padding: 30px; 
    border: 2px solid #1b021a;
    background-color: #1b021a; 
    border-radius: 10px;
    font-size: 20px;
  }
  .form h2 {
    margin-bottom: 20px;
    color: #ffffff; 
  }
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; 
    font-weight: bold; 
    font-size: 1.1em; 
  }
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  ::placeholder {
    font-size: 14px;
  }
  button,
  a.button {
    padding: 10px 20px;
    background-color: #ff3333; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Added */
    display: inline-block; /* Added */
  }
  button:hover,
  a.button:hover {
    background-color: #cc0000; 
  }
  @media (max-width: 600px) {
    .form-group {
      flex-direction: column;
    }
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  a:hover {
    background-color: #1E9E4F;
  }