body {
    margin: 20px auto; 
    padding: 0;
    background-color: rgb(117 28 28);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1b1717; 
    text-align: center; /* Center align text */
    background-image: url("/capstoneproject/Untitled\ \(4\).png");
    font-weight: 600;
  }
  .container {
    max-width: 600px; /* Limit container width */
    margin: 0 auto; /* Center container horizontally */
    padding: 20px;
  }
  h2 {
    color: green;
    font-family: Arial, sans-serif;
  }
  p {
    margin-bottom: 10px; /* Add some space between paragraphs */
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  a:hover {
    background-color: #1E9E4F;
    
  }